.backgammon-page {
    min-height: 100svh;
    display: grid;
    place-content: center;
}

.header {
    /* display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}

#dice-roll-button {
    width: fit-content;
}

.prison {
    display: flex;
}

.square {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(5, 1fr);

    padding: 3px;
    overflow: scroll;
    flex-direction: column;
    width: calc(80vw / 12);
    border-right: 5px dotted black;
    border-bottom: 5px dotted black;
}

.board {
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
}
.half-board:last-of-type > .square {
    border-bottom: none;
}
.half-board:nth-child(1) > .square:nth-child(1) {
    border-right: none;
}
.half-board:nth-last-child(1) > .square:nth-last-child(1) {
    border-right: none;
}
.half-board {
    display: flex;
    flex-flow: row-reverse;
}

.half-board:last-of-type {
    flex-flow: unset;
}
