.backgammon-page {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-inline: 2vw;
    padding-block: 4vh;
}

.header-button {
    width: 100px;
    height: 100px;
}

.header-button > img {
    height: 50px;
    width: 50px;
}

.can-drop {
    background-color: yellow !important;
    opacity: 0.5;
}
.is-over {
    opacity: 1;
}

.header {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 6vw;
}

.site-info-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-info-header {
    display: flex;
    height: fit-content;
    flex-grow: 1;
    justify-content: center;
    gap: 1em;
}

#dice-roll-button {
    border: 2px solid darkslategrey;
    box-shadow: 5px 5px 0px 0px color-mix(in srgb, brown 50%, transparent);
}

.prison {
    display: flex;
    /* transform: translateY(180%); */
}

.square {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(5, 1fr);

    padding: 3px;
    overflow: scroll;
    width: calc(80vw / 12);

    background-image: url("/arrow-light-upside-down.svg");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.square:nth-child(even) {
    background-image: url("/arrow-dark-upside-down.svg");
}
.half-board:last-of-type > .square:nth-child(even) {
    background-image: url("/arrow-dark.svg");
}
.half-board:last-of-type > .square:nth-child(odd) {
    background-image: url("/arrow-light.svg");
}

.half-board:first-of-type > .square:nth-child(7) {
    border-right: 20px solid black;
}
.half-board:last-of-type > .square:nth-child(7) {
    border-left: 20px solid black;
}

.board {
    background-color: bisque;
    display: grid;

    place-content: center;
    width: fit-content;

    border: 10px solid black;
}

.half-board {
    display: flex;
    flex-flow: row-reverse;
}
.half-board:last-of-type {
    flex-flow: unset;
}
.half-board:last-of-type > .square > :nth-last-child(1) {
    grid-row: 5 / 5;
}
.half-board:last-of-type > .square > :nth-last-child(2) {
    grid-row: 4 / 4;
}
.half-board:last-of-type > .square > :nth-last-child(3) {
    grid-row: 3 / 3;
}
.half-board:last-of-type > .square > :nth-last-child(4) {
    grid-row: 2 / 2;
}
