@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

#root {
    --bg-color-light: #99ccff;
    --bg-color-dark: #7c53a5;
    --paper-color: #ffff99;
    --buttons-color: #ff9999;
    --text-color: white;

    background-color: #2c96ff;
    width: 100%;

    /* padding-inline: 8vw; */
    padding-bottom: 8vw;
}

.can-drop {
    background-color: yellow;
    opacity: 0.5;
    color: black;
}

.is-over {
    opacity: 1;
}
.clickable {
    user-select: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
}

button {
    background-color: var(--buttons-color);
    font-weight: bold;
}

.lists-grid {
    display: flex;

    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 375px) {
    #root {
        padding-inline: 0;
    }
    .lists-grid {
        margin-inline: 10px;
    }
}
