@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

#root {
    --bg-color-light: #99ccff;
    --bg-color-dark: #7c53a5;
    --paper-color: #ffff99;
    --buttons-color: #ff9999;

    background-color: var(--bg-color-light);
}

h1 {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    /* font-size: 76px; */
    font-size: 3.2em;
    line-height: 1;
    letter-spacing: -1.5px;
}
input {
    background-color: transparent;
    color: black;
    font-weight: bold;
}
button {
    background-color: var(--buttons-color);
    color: black;
    font-weight: bold;
}

.list hr {
    border: 1px solid black;
    width: 60%;
}
.list hr:last-child {
    display: none;
}

.todo {
    text-align: center;

    user-select: none;
    cursor: pointer;
    font-size: 28px;
    word-wrap: anywhere;
    font-family: Permanent Marker;
    /* font-family: Shadows Into Light; */
}

.list > h2 {
    word-wrap: anywhere;
    font-size: 36px;
}
.list {
    padding-inline: 15px;

    max-width: 30vw;
    display: flex;
    color: black;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    align-items: center;
    background-color: var(--paper-color);
    box-shadow: 20px 20px var(--bg-color-dark);
    border-radius: 5px;
    /* border-radius: 15px; */
    padding-bottom: 40px;
}

.add-element {
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
.add-element > input {
    border-radius: 15px;
}
.add-task-input > input {
    background-color: var(--paper-color);
}

.add-list-input > input {
    border: 2px solid var(--bg-color-dark);
}
.add-list-input > button {
    color: antiquewhite;
    background-color: var(--bg-color-dark);
}

.app-grid {
    width: 100vw;
    display: grid;
    justify-items: center;
    padding-top: 50px;
    gap: 50px;
}

.lists-grid {
    margin-inline: 100px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
